/* ПОДКЛЮЧЕНИЕ ШРИФТОВ */

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* ОБЩИЕ СТИЛИ */

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  min-width: 1160px;

  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #444444;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

/* ШАПКА */

.page-header-top {
  display: flex;
  align-items: center;
}

.search-form {
  width: 517px;
  display: flex;
  align-items: center;
  margin-right: 26px;
}

.search-input {
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  padding: 8px 46px;
  flex-grow: 1;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: transparent;

  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: left 14px center;
}

.search-button {
  border: 2px solid #000000;
  border-radius: 0 50px 50px 0;
  padding: 8px 54px;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: transparent;
  font-family: "Rubik", sans-serif;
  margin-left: -2px;
  cursor: pointer;
}

.user-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
}

.user-menu-item {
  margin-right: 28px;
}

.user-menu-link {
  display: block;
  color: #000000;
  text-decoration: none;
  padding: 0 0 0 25px;
  background-position: left center;
  background-repeat: no-repeat;
}

.logout {
  display: none;
}

.login {
  background-image: url("../images/icons/login.svg");
}

.compare {
  background-image: url("../images/icons/compare.svg");
}

.cart {
  border: none;
  background-color: transparent;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;

  background-image: url("../images/icons/cart.svg");
}

.page-header-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.catalog-menu-container {
  display: flex;
  align-items: center;
}

.catalog-menu-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin-right: 7px;
}

.catalog-menu-button {
  width: 50px;
  height: 50px;
  display: block;
  border: 2px solid #000000;
  background-color: transparent;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
  cursor: pointer;
}

.catalog-plus {
  background-image: url("../images/icons/catalog-plus.svg");
}

.catalog-minus {
  background-image: url("../images/icons/catalog-minus.svg");
}

.catalog-menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
}

.catalog-menu-link {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation-item {
  margin-right: 45px;
}

.navigation-link {
  font-family: "Raleway",sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  display: block;
}

/* БЛОК КАТЕГОРИЙ */

.category {
  margin-bottom: 70px;
}

.category-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
}

.category-item-container {
  background-color: #FFE17F;
  height: 160px;
  margin-bottom: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-item-img-bottom {
  align-self: flex-end;
}

.category-item-title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}

/* БЛОК ПРЕИМУЩЕСТВ */

.advantages {
  margin-bottom: 70px;
}

.advantages-container {
  display: flex;
  margin-bottom: 70px;
}

.advantages-buttons-list {
  list-style-type: none;
  margin: 0;
  padding: 64px 0;
  width: 287px;
  box-sizing: border-box;
  border-right: 7px solid #000000;
}

.advantages-buttons-item {
  margin-bottom: 35px;
}

.advantages-content-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-content-item {
  padding: 72px 305px 72px 116px;
  max-width: 450px;
  background-repeat: no-repeat;
  background-position: right 28px center;
}

.delivery-content {
  background-image: url("../images/advantages/delivery.svg");
  background-position: right 63px center;
}

.guarantee-content {
  background-image: url("../images/advantages/guarantee.svg");
}

.credit-content {
  background-image: url("../images/advantages/credit.svg");
}

.advantages-title {
  margin: 0 0 34px 0;
}

.advantages-description {
  margin: 0;
}

.advantages-delivery {
  padding: 40px 0;
}

.advantages-delivery-link {
  display: block;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

/* БЛОК КОНТАКТНОЙ ИНФОРМАЦИИ */

.sections-container {
  display: flex;
  margin-bottom: 70px;
}

.about-us {
  margin-right: 108px;
}

.about-us-title {
  margin-bottom: 48px;
}

.about-us-description {
  margin: 0 0 30px 0;
}

.about-us-list {
  margin: 0 0 30px 0;
  list-style-type: disc;
  padding: 0;
}

.about-us-item {
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  letter-spacing: -0.02em;
  margin-bottom: 19px;
}

.contacts-title {
  margin-bottom: 48px;
}

.contacts-description {
  margin: 0 0 30px 0;
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
  margin: 0 0 15px 0;
}

.contacts-address {
  font-style: normal;
  margin-bottom: 30px;
}

.contacts-address-text {
  margin: 0;
}

.contacts-phone {
  color: inherit;
}

.contacts-shedule {
  list-style-type: none;
  margin: 0 0 30px 0;
  padding: 0;
}




.hidden {
  display: none;
}
