/* ПОДКЛЮЧЕНИЕ ШРИФТОВ */

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* ОБЩИЕ СТИЛИ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  min-width: 1160px;

  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #444444;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
}

.link {
  position: relative;
  padding: 10px 0;
  min-width: 160px;
  cursor: pointer;
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  border: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  z-index: 1;
}

.link::before {
  position: absolute;
  content: "";
  background-color: #FFE17F;
  height: 8px;
  right: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.link:hover {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  background-color: #FFE17F;
}

.link:active {
  background-color: #FFCC33;
  filter: none;
}

.link:active::before {
  background-color: #FFCC33;
}

.link:focus-visible {
  outline: 2px solid #AF4FFF;
}

.link:disabled {
  opacity: 0.3;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

/* ШАПКА */

.page-header {
  padding: 20px 60px;
  background: linear-gradient(#ffffff 40px, #FFE17F 40px, #FFE17F 100%);
}

.page-header-top {
  display: flex;
  margin-bottom: 30px;
}

.logo-link {
  display: block;
  margin-bottom: 30px;
  width: fit-content;
  text-decoration: none;
  transition: opacity .2s;
}

.logo-link:hover {
  opacity: 0.6;
}

.logo-link:active {
  opacity: 0.3;
}

.logo-link:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.logo {
  display: block;
}

.search-form {
  min-width: 517px;
  display: flex;
  margin-right: 26px;
}

.search-input {
  font-family: "Rubik", sans-serif;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  padding: 8px 46px;
  flex-grow: 1;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: transparent;

  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: left 14px center;
}

.search-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-button {
  border: 2px solid #000000;
  border-radius: 0 50px 50px 0;
  padding: 8px 54px;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: transparent;
  font-family: "Rubik", sans-serif;
  margin-left: -2px;
  cursor: pointer;
}

.user-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 28px 23px;
  min-width: 497px;
  max-width: 500px;
}

.user-menu-link {
  display: block;
  color: #000000;
  text-decoration: none;
  padding: 0 0 0 25px;
  background-position: left center;
  background-repeat: no-repeat;
  transition: opacity .2s;
}

.user-menu-link:hover {
  opacity: 0.6;
}

.user-menu-link:active {
  opacity: 0.3;
}

.user-menu-link:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.logout {
  opacity: 0.3;
  background-color: transparent;
  border: none;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: #000000;
  line-height: inherit;
  cursor: pointer;
}

.logout:hover {
  opacity: 0.1;
}

.login-item {
  margin-right: auto;
}

.login {
  background-image: url("../images/icons/login.svg");
}

.compare {
  background-image: url("../images/icons/compare.svg");
}

.cart {
  position: relative;
  border: none;
  background-color: transparent;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  padding-left: 45px;
  cursor: pointer;

  background-image: url("../images/icons/cart.svg");
  background-position: left 15px center;
}

.cart::before {
  content: attr(data-counter);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  padding: 0 4px;
  min-width: 21px;
  height: 21px;
  border-radius: 10px;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-header-bottom {
  display: flex;
  justify-content: space-between;
}

.catalog-menu-container {
  display: flex;
  align-items: center;
}

.catalog-menu-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin-right: 17px;
}

.catalog-menu-button {
  padding: 0;
  width: 50px;
  height: 50px;
  display: block;
  border: 2px solid #000000;
  background-color: transparent;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
  cursor: pointer;
}

.catalog-plus {
  background-image: url("../images/icons/catalog-plus.svg");
}

.catalog-minus {
  background-image: url("../images/icons/catalog-minus.svg");
}

.catalog-menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
}

.catalog-menu-link {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.navigation {
  display: flex;
  align-items: center;
  max-width: 500px;
}

.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  gap: 45px;
}

.navigation-link {
  font-family: "Raleway",sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  display: block;
}

/* СЛАЙДЕР */

.intro {
  margin-bottom: 70px;
}

.sliders {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-reset: section;
}

.slider {
  padding-bottom: 24px;
  display: flex;
  background: linear-gradient(#FFE17F 0, #FFE17F 113px, #ffffff 113px);
}

.slider::before {
  position: absolute;
  top: 45px;
  right: 50px;
  counter-increment: section;
  content: "0" counters(section, "");
  font-weight: 700;
  font-size: 180px;
  color: #ffffff;
}

.slider-images {
  position: relative;
  margin-right: 40px;
  min-width: 560px;
}

.slider-image {
  position: absolute;
  top: -37px;
}

.slider-images-button {
  cursor: pointer;
  padding: 0;
  position: absolute;
  border: none;
  background-color: transparent;
  width: 20px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/icons/slider-button.svg");
}

.slider-images-next {
  transform: rotate(180deg);
  right: 0;
  top: 175px;
}

.slider-images-previous {
  left: 30px;
  top: 175px;
}

.slider-content {
  position: relative;
  z-index: 1;
  padding-top: 85px;
  max-width: 560px;
}

.slider-title {
  margin: 0 0 29px 0;
}

.slider-description {
  margin: 0 0 50px 0;
}

.slider-link {
  margin-bottom: 50px;
  width: 220px;
}

.slider-advantages {
  margin: 0;
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.slider-advantage {
  display: flex;
  flex-direction: column;
}


.slider-advantage-title {
  font-size: 36px;
  color: #000000;
  margin-bottom: 12px;
}

.slider-advantage-description {
  font-size: 16px;
}

.slider-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.slider-button {
  padding: 0;
  width: 12px;
  height: 12px;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.slider-button.active {
  background-color: #000000;
}

/* БЛОК КАТЕГОРИЙ */

.category {
  margin-bottom: 70px;
}

.category-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
}

.category-item-link {
  text-decoration: none;
  display: block;
  height: 100%;
}

.category-item-link:hover .category-item-container {
  background-color: #FFC700;
}

.category-item-link:active {
  opacity: 0.3;
}

.category-item-link:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.category-item-container {
  background-color: #FFE17F;
  height: 160px;
  margin-bottom: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .3s;
}

.category-item-img-bottom {
  align-self: flex-end;
}

.category-item-title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}

/* БЛОК ПРЕИМУЩЕСТВ */

.advantages {
  margin-bottom: 70px;
  background: linear-gradient(#ffffff 102px, #F0F0F0 102px, #F0F0F0 391px, #ffffff 391px);
}

.advantages-container {
  display: flex;
  margin-bottom: 142px;
}

.advantages-buttons-list {
  list-style-type: none;
  margin: 0;
  padding: 64px 0;
  width: 287px;
  box-sizing: border-box;
  border-right: 7px solid #000000;
}

.advantages-buttons-item:not(:last-child) {
  margin-bottom: 35px;
}

.advantages-button.active {
  width: 100%;
  padding-left: 20px;
  text-align: left;
  background-color: #000000;
  color: #FFE17F;
  z-index: 1;
}

.advantages-button.active::before {
  content: none;
}

.advantages-content-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-content-item {
  padding: 72px 305px 72px 116px;
  background-repeat: no-repeat;
  background-position: right 28px center;
}

.delivery-content {
  background-image: url("../images/advantages/delivery.svg");
  background-position: right 63px center;
}

.guarantee-content {
  background-image: url("../images/advantages/guarantee.svg");
}

.credit-content {
  background-image: url("../images/advantages/credit.svg");
}

.advantages-title {
  margin: 0 0 34px 0;
}

.advantages-description {
  max-width: 450px;
  margin: 0;
}

.advantages-delivery {
  padding: 40px 0;
}

.advantages-delivery-link {
  display: block;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

/* БЛОК КОНТАКТНОЙ ИНФОРМАЦИИ */

.sections-container {
  display: flex;
  margin-bottom: 70px;
}

.about-us {
  position: relative;
  padding-top: 40px;
  margin-right: 108px;
}

.about-us::before,
.contacts::before {
  content: "";
  position: absolute;
  top: 0;
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.about-us-title {
  margin-bottom: 48px;
}

.about-us-description {
  margin: 0 0 30px 0;
}

.about-us-list {
  margin: 0 0 30px 0;
  list-style-type: none;
  padding: 0;
}

.about-us-item {
  position: relative;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  letter-spacing: -0.02em;
  margin-bottom: 19px;
  padding-left: 34px;
}

.about-us-item::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #FFC700;
}

.about-us-link {
  width: 270px;
}

.contacts {
  padding-top: 40px;
  position: relative;
}

.contacts-title {
  margin-bottom: 48px;
}

.contacts-description {
  margin: 0 0 30px 0;
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
  margin: 0 0 15px 0;
}

.contacts-address {
  font-style: normal;
  margin-bottom: 30px;
}

.contacts-address-text {
  margin: 0;
}

.contacts-phone {
  color: inherit;
}

.contacts-shedule {
  list-style-type: none;
  margin: 0 0 30px 0;
  padding: 0;
}

.contacts-link {
  width: 260px;
}

/* БЛОК ПОДПИСКИ */

.subscription {
  padding: 64px 0 56px 0;
  background-color: #F0F0F0;
}

.subscription-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 144px;
}

.subscribe-title {
  max-width: 350px;
}

.subscription-description {
  max-width: 529px;
  margin: 0;
}

.subscription-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscription-form {
  display: flex;
  width: 810px;
  box-sizing: border-box;
}

.subscription-input {
  flex-grow: 1;
  padding: 11px 30px 11px 16px;
  border: none;
  border-bottom: 3px solid #C4C4C4;
  background-color: transparent;

  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.subscription-button {
  border: 3px solid #C4C4C4;
  padding: 15px 36px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  background-color: transparent;
  cursor: pointer;
}

.subscription-text {
  padding-left: 32px;
  background-image: url("../images/icons/correct-tick.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

/* ПОДВАЛ */

.footer {
  background-color: #444444;
}

.footer-container {
  padding: 62px 0 77px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.footer-left-column {
  position: relative;
  max-width: 240px;
  padding-bottom: 71px;
}

.footer-left-column::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 80px;
  height: 7px;
  background-color: #FFC700;
}

.footer-logo-link {
  display: block;
  width: fit-content;
  margin-bottom: 35px;
}

.footer-address {
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: #ffffff;
}

.footer-middle-column {
  margin: 0 auto -10px;
}

.footer-navigation-list {
  list-style-type: none;
  margin: 0 0 62px 0;
  padding: 0;
  max-width: 500px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
  align-items: center;
}

.footer-navigation-link {
  position: relative;
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer-navigation-link::after {
  position: absolute;
  content: "";
  background-color: #FFC700;
  height: 2px;
  left: 0;
  right: 0;
  bottom: -4px;
  visibility: hidden;
}

.footer-navigation-link:hover  {
  color: #FFC700;
}

.footer-navigation-link:hover::after {
  visibility: visible;
}

.footer-navigation-link:active {
  opacity: 0.3;
}

.footer-navigation-link:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.socials {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.socials-link {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
}

.socials-link:hover {
  background-color: #FFC700;
}

.socials-link:active {
  opacity: 0.3;
}

.social-link-telegram {
  background-image: url("../images/icons/telegram.svg");
}

.social-link-youtube {
  background-image: url("../images/icons/youtube.svg");
}

.social-link-twitter {
  background-image: url("../images/icons/twitter.svg");
}

.footer-right-column {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 63px;
  margin-bottom: -10px;
}

.footer-phone {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
}

.footer-phone:hover {
  color: #FFC700;
}

.footer-phone:active {
  opacity: 0.3;
}

.footer-phone:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.company-link {
  color: #FFC700;
  text-decoration: none;
  align-self: flex-end;
}

.company-link:hover {
  color: #ffffff;
}

.company-link:active {
  opacity: 0.3;
}

.company-link:focus-visible {
  outline: 1px solid #AF4FFF;
  outline-offset: 2px;
}

/* СТРАНИЦА КАТАЛОГА */

.inner-header {
  padding: 35px 60px;
}

.inner-header-title {
  margin: 0 0 16px 0;
}

.breadcrumbs {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  gap: 36px;
  align-items: center;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
  content: url("../images/icons/breadcrumbs-arrow.svg");
  position: absolute;
  line-height: 0;
  right: -18px;
  top: 50%;
  transform: translateY(-50%);
}

.breadcrumbs-link {
  display: block;
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  line-height: 20px;
  transition: opacity .2s;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

/* БЛОК ТОВАРОВ */

.products {
  background-color: #F0F0F0;
}

.products-page-container {
  display: flex;
}

.products-filter {
  padding: 25px 40px 25px 60px;
  box-sizing: border-box;
}

.products-filter-main-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 72px 0;
}

.products-filter-group {
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
  margin-bottom: 35px;
}

.products-filter-group:not(:last-of-type) {
  margin-bottom: 47px;
}

.products-filter-group::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #000000;
  left: 0;
  right: 0;
  top: -54px;
}

.products-fitler-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  padding: 0;
  margin-bottom: 20px;
}

.product-filter-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.product-filter-item:not(:last-child) {
  margin-bottom: 17px;
}

.control {
  position: relative;
  display: flex;
  gap: 16px;
  cursor: pointer;
  width: fit-content;
  transition: all .3s;
}

.control-mark {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #cccccc;
  border-radius: 3px;
}

.control-text {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("../images/icons/pressed-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-color: #000000;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  background-color: #000000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark {
  border-color: #000000;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}

.control:has(.control-input:disabled) {
  opacity: 0.1;
  pointer-events: none;
}

.control:focus-within .control-mark {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.product-filter-button {
  width: 220px;
}

.sort {
  display: flex;
  align-items: center;
  padding: 20px 40px;
}

.sort-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.sort-select {
  padding-right: 32px;
  appearance: none;
  border: none;
  color: #000000;
  background-image: url("../images/icons/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 11px center;
  background-color: transparent;
  font-family: "Rubik", sans-serif;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  margin: 0 auto;
}

.sort-buttons {
  display: flex;
}

.sort-button {
  border: none;
  background-color: transparent;
  padding: 0;
  width: 30px;
  height: 30px;
  background-image: url("../images/icons/sort.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
  cursor: pointer;
}

.sort-down {
  transform: rotate(180deg);
}

.products-inner-container {
  padding: 70px 40px 78px;
  background-color: #ffffff;
}

.products-cards {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 44px 40px;
  margin-bottom: 44px;
}

.products-card-link {
  display: block;
  text-decoration: none;
  color: #000000;
}

.products-card-img {
  margin-bottom: 32px;
}

.products-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-card-title {
  margin: 0;
  font-weight: 700;
  line-height: 20px;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #000000;
  max-width: 200px;
}

.product-card-price {
  line-height: 21px;
  align-self: flex-start;
}

.products-show-more {
  width: 100%;
  padding: 15px 0;
  text-align: center;
  border: 3px solid #E5E5E5;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  background-color: transparent;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 44px;
}

.pagination {
  display: flex;
  align-items: center;
  background-color: #EBEBEB;
}

.pagination-previous,
.pagination-next {
  padding: 25px;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: #000000;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination-list {
  display: flex;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.pagination-link {
  display: block;
  width: 40px;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  opacity: 0.3;
}

.pagination-show-more {
  border: none;
  cursor: pointer;
}

.pagination-link.active {
  opacity: 0.6;
}



.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}
